
<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="bd-placeholder-img" src="/img/registro.jpg" width="100%" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/>
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Si necesitas Algun servicio</h1>
                    <p class="opacity-75">Puedes contratar servicio, ver precios, verificar calificaciones...</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Registrate ahora!!</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="bd-placeholder-img" src="/img/proveedor.jpg" width="100%" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/>
            <div class="container">
                <div class="carousel-caption">
                    <h1>Si quieres ofrecer tus servicios</h1>
                    <p>Solo proveedores de los servicios listados</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Registrate ahora!!</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="bd-placeholder-img" src="/img/contrata.jpg" width="100%" height="100%" alt="contratar"/>
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>Contrata tu servicio ahora</h1>
                    <p>Debes estar registrado para cantratar o contactar a un proveedor</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Contrata aqui!</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>