<div class="container-fluid mt-3 text-center bg-success ">
    <div th:if="${error != null}" class="container-fluid d-flex justify-content-center text-dark ">
        <div  class="text-dark">

            <h5>Error!</h5>
            <p  th:text="${error}"></p>

        </div>
    </div>
    <div th:if="${exito != null}" class="container-fluid d-flex justify-content-center  text-dark bg-danger">
        <div class="text-dark" >
            
            <h5 >Exito!</h5>
            <p th:text="${exito}"> </p>
        </div>
    </div>

</div>


