<div class="conteiner justify-content-center mt-3 mb-2">
    <div class="conteiner d-flex justify-content-center">
        <img src="/img/metricas.jpg" class="img-fluid" alt="...">
    </div>
    <div class="card-group">
         
        <div class="card " style="border: none">

            <div class="card-body">
                <h5 class="card-title">Usuarios Registrados</h5>
                <p class="card-text">Estamos orgullosos de contar con el apoyo de nuestros usuarios.</p>
                <p class="card-text" th:text="${totalUsuarios}"></p>
            </div>
        </div>
        <div class="card" style="border: none">

            <div class="card-body">
                <h5 class="card-title">Proveedores Registrados</h5>
                <p class="card-text">Cada dia contamos con mas proveedores en linea.</p>
                <p class="card-text" th:text="${totalProveedor}"></p>
            </div>
        </div>
        <div class="card" style="border: none">

            <div class="card-body">
                <h5 class="card-title">Promedio Calificacion</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text" th:text="${promedioCalificacionesTotales}"></p>
            </div>
        </div>
    </div>



</div>