<nav class="navbar navbar-expand-md navbar-dark  bg-dark mb-3" >
    <div class="container-fluid">
        <a class="navbar-brand" aria-current="page" href="/">
            <img class="logo"  src="/img/olicemModificado.png" alt="Img logo olicem"></a>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" href="#market-sections">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/contacto}">Contactanos</a>
                </li>

                <!-- VISTA GUEST MENU REGISTRO/LOGIN USER Y PROVEEDORES  -->
                <li th:if="${session.usuarioSession == null}" class="nav-item dropdown">
                    <a class="nav-link active" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Usuario</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><button th:if="${session.usuarioSession == null}" type="button" class="btn btn-primary dropdown-item" data-bs-toggle="modal" data-bs-target="#modalSignin">
                                Ingresar</button></li>                      
                        <li><button th:if="${session.usuarioSession == null}" type="button" class="btn btn-primary dropdown-item" data-bs-toggle="modal" data-bs-target="#modalRegistro">
                                Registrar</button></li>                     
                    </ul>
                </li>

                <li th:if="${session.usuarioSession == null}" class="nav-item dropdown">
                    <a class="nav-link active" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Proveedor</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><button th:if="${session.usuarioSession == null}" type="button" class="btn btn-primary dropdown-item" data-bs-toggle="modal" data-bs-target="#modalSignin">
                                Ingresar</button></li>                        
                        <li><button th:if="${session.usuarioSession == null}" type="button" class="btn btn-primary dropdown-item" data-bs-toggle="modal" data-bs-target="#modalReProveedor">
                                Registrar</button></li>                    
                    </ul>               
                </li> 

                <!-- MENU SOLO USUARIOS ACTIVOS PROVEEDORES/ USUARIO/ ADMIN -->
                <!-- ADMINISTRADOR -->
                <li th:if="${session.usuarioSession != null}" sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:text="'Bienvenido '+${session.usuarioSession.nombre }+' '+${session.usuarioSession.rol}" 
                       id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item"  href="#">Listas Usuarios</a></li>
                        <li><a class="dropdown-item"  href="#">Metricas</a></li>
                        <li><a class="dropdown-item" href="#">Listar Rubros</a></li>
                        <li><a class="dropdown-item" href="#">Listar Trabajos</a></li>
                        <li><a class="dropdown-item" href="/logout">Cerrar Sesion</a></li>
                    </ul>
                </li> 
                <!-- USUARIO -->
                <li th:if="${session.usuarioSession != null}" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:text="'Bienvenido '+${session.usuarioSession.nombre }+' '+${session.usuarioSession.rol}" 
                       id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" role="button" data-bs-toggle="modal" data-bs-target="#modalContrato">Cargar un trabajo</a></li>
                        <li><a class="dropdown-item"  href="#">Servicios en curso</a></li>
                        <li><a class="dropdown-item"  href="#">Servicios finalizados</a></li>                       
                        <li><a class="dropdown-item" href="#">Calificacion</a></li>
                        <li><a class="dropdown-item"  href="/usuario/perfil">Editar Perfil</a></li>
                        <li><a class="dropdown-item" href="/logout">Cerrar Sesión</a></li>
                    </ul>
                </li>
                <!-- PROVEEDOR -->
                <li th:if="${session.usuarioSession != null}" sec:authorize="hasRole('ROLE_PROVEEDOR')" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:text="'Bienvenido '+${session.usuarioSession.nombre }+' '+${session.usuarioSession.rol}" 
                       id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item"  href="#">Servicios en curso</a></li>
                        <li><a class="dropdown-item"  href="#">Servicios finalizados</a></li>
                        <li><a class="dropdown-item" href="/trabajo/crearTrabajo">Finalizar trabajo</a></li>
                        <li><a class="dropdown-item" href="#">Mis calificaciones</a></li>
                        <li><a class="dropdown-item" href="/proveedor/perfil">Editar Perfil</a></li>
                        <li><a class="dropdown-item" href="/logout">Cerrar Secion</a></li>
                    </ul>
                </li>

            </ul>               
            <form class="d-flex justify-content-end" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form> 

        </div>
    </div>
</nav>

