<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace= "/fragments/head :: head"> </head>

    <body>

        <header data-bs-theme="dark">
            <nav th:replace="/fragments/navbar :: nav" </nav>
        </header>



        <div><div th:replace="/fragments/exitoError :: div"></div></div>


        <h1 class="fw-bold mb-0 fs-2">CONTRATAR UN SERVICIO</h1>

        <form class="formulario" th:action="@{/trabajo/crearTrabajo}" method="POST" >

            <input hidden th:value="${session.usuarioSession.id}" name="id" >

            <div class="form-group my-3">            
                <select name="servicio" id="" >
                    <option selected th:if="${rubro.rubro == rubro}" 
                            th:each="rubro : ${rubro}"
                            th:value="${rubro}"
                            th:text="${rubro}">
                    </option>
                    <option selected th:if="${proveedor.rubro == rubro}" 
                            th:each="rubro : ${rubro}"
                            th:value="${rubro}"
                            th:text="${rubro}">
                    </option>
                </select>
            </div> 


            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Contratar</button>
            <small class="text-body-secondary">Al unirte, aceptas los Términos de servicio de Servicio 7,
                así como recibir correos electrónicos ocasionales de nuestra parte.
                Lee nuestra Política de privacidad para saber cómo utilizamos tus datos personales.</small>
        </form>
    </div>











    <div class="container"><footer th:replace="/fragments/footer :: footer" </footer> </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>

