<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
    <head th:replace="/fragments/head :: head"> </head>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
</head>

<body>



    <header data-bs-theme="dark">
        <nav th:replace="/fragments/navbar :: nav"></nav>
    </header>

    <div><div th:replace="/fragments/exitoError :: div"></div></div>


    <div>
        <form class="formulario" th:action="@{/trabajo/persistirTrabajoContratoTrabajo}" method="POST" >
          
            <div class="form-group my-3">
                <label for="rubro">Seleccione Servicio</label>
                <select name="rubro" id="rubro" class="form-control" onchange="this.form.submit" >
                    <option  th:each="rubro : ${listaRubros}"
                             th:value="${rubro.rubro}" 
                             th:text="${rubro.rubro}"/>                                 

                </select>
            </div> 



            <div class="form-group my-3">
                <label for="proveedor1">Seleccione Servicio</label>
                <select name="idProveedor" id="proveedor1" class="form-control" >
                    <option 
                            th:each="proveedor : ${proveedores}"
                            th:if="${#lists.contains(proveedor.rubro,rubroSeleccionado==rubro.rubro)}"
                            th:value="${proveedor.id}"
                            th:text="${proveedor.nombre}">
                    </option>
                </select>
            </div> 
        </form>





    </div>

<div th:if="${#strings.equals(#request.getParameter('error'), 'badCredentialsException')}"></div>





    <div class="container"><footer th:replace="/fragments/footer :: footer" </footer> </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>

