<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace= "/fragments/head :: head"> </head>

    <body>
        <!-- NAVBAR -->
        <header data-bs-theme="dark">
            <nav th:replace="/fragments/navbar :: nav"></nav>
        </header>       


        <!-- CARRUSEL -->
        <main>
            <div class="container">
                <div th:replace="/fragments/carousel :: section"></div>
            </div>


            <div class="container">
                <div th:replace="/fragments/metricas :: div"></div>
            </div>

            <!-- CARD SERVICES -->
            <div class="container">
                <div th:replace="/fragments/cardServicios :: div"></div>
            </div>

            <!-- MARKET QUE HACEMOS? COMO? -->
            <div class="container">
                <div th:replace="/fragments/market :: div"></div>
            </div>




            <!-- MODALES REGISTRO -->
            <!-- user -->
            <div class="container">
                <div th:replace="/fragments/modalRegistro :: div"></div>
            </div>
            <!-- login -->
            <div class="container">
                <div th:replace="/fragments/modalSignin :: div"></div>
            </div>
            <!-- proveedor -->
            <div class="container">
                <div th:replace="/fragments/modalReProveedor :: div"></div>
            </div>

        </main>













        <div class="container"><footer th:replace="/fragments/footer :: footer" </footer> </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    </body>
</html>
