<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!-- NAVBAR -->
        <header data-bs-theme="dark">
            <nav th:replace="/fragments/navbar :: nav"></nav>
        </header>
        <main class="container justify-content-center" width="500">
            <form class="formulario" th:action="@{/usuario/perfil/${session.usuarioSession.id}}" method="POST">
                <input hidden th:value="${id}" name="id">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control rounded-3" th:value="${session. usuarioSession.proveedor.nombre}" name="nombre" id="floatingInput"
                           placeholder="Proveedor a Calificar">
                    <label class="fw-light" for="floatingInput" th:text="${proveedor.nombre}"></label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control rounded-3" th:value="${domicilio}" name="domicilio"
                           id="floatingInput" placeholder="Ingrese Calificación">
                    <label class="fw-light" for="floatingInput" th:text="${session. usuarioSession.proveedor.calificacion}"></label>
                </div>
                
                <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Calificar</button>
            </form>
        </main>
        <div class="container">
            <footer th:replace="/fragments/footer :: footer"></footer>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    </body>
</html>
