<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace= "/fragments/head :: head"> </head>

    <body>
        <!-- NAVBAR -->
        <header data-bs-theme="dark">
            <nav th:replace="/fragments/navbar :: nav"></nav>
        </header>       


        <main class="container justify-content-center "> 
            <!-- CARRUSEL -->
            <div class="container">
                <div th:replace="/fragments/carousel :: section"></div>
            </div>
            <!-- METRICAS -->
            <div class="container">
                <div th:replace="/fragments/cardRubro :: div"></div>
            </div>


            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            LISTAR USUARIOS
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                            
                            <table class="table table-secondary table-hover">                
                                <thead>
                                    <tr>
                                        <th scope="col">Id Usuario</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Domicilio</th>
                                        <th scope="col">Telefono</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Activo</th>
                                        <th scope="col">Rol</th>
                                        <th scope="col" sec:authorize="hasRole('ADMIN')" >Cambiar Rol</th>
                                        <th scope="col" sec:authorize="hasRole('ADMIN')" >Modificar</th>
                                    </tr>
                                </thead>
                                <tbody th:each="usuario : ${usuarios}">
                                    <tr>
                                        <td th:text="${usuario.id}"></td>
                                        <td th:text="${usuario.nombre}"></td>
                                        <td th:text="${usuario.domicilio}"></td>                        
                                        <td th:text="${usuario.telefono}" ></td>
                                        <td th:text="${usuario.email}" ></td>
                                        <td th:text="${usuario.alta}" ></td>
                                        <td th:text="${usuario.rol}" ></td>
                                        <td  >
                                            <a th:href="@{/admin/modificarRol/__${usuario.id}__}"><i class="fas fa-feather-alt"></i>Cambiar Rol</a>
                                        </td>
                                        <td  >
                                            <a th:href="@{/perfil/__${usuario.id}__}"><i class="fas fa-feather-alt"></i>Modificar</a>
                                        </td>
                                    </tr>                    
                                </tbody>
                            </table>
                           
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            LISTAR PROVEEDORES
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                            
                            <table class="table table-secondary table-hover">                
                                <thead>
                                    <tr>
                                        <th scope="col">Id Proveedor</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Domicilio</th>
                                        <th scope="col">Telefono</th>
                                        <th scope="col">Honorario</th>
                                        <th scope="col">Calificación</th>
                                        <th scope="col">Imagen</th>
                                        <th scope="col">Rubro</th>
                                        <th scope="col">Activo</th>
                                        <th scope="col">Rol</th>
                                        <th scope="col">Alta</th>
                                        <th scope="col" sec:authorize="hasRole('ADMIN')" >Cambiar Rol</th>
                                        <th scope="col" sec:authorize="hasRole('ADMIN')" >Modificar</th>
                                    </tr>
                                </thead>
                                <tbody th:each="proveedor : ${proveedores}">
                                    <tr>
                                        <td th:text="${proveedor.id}"></td>
                                        <td th:text="${proveedor.nombre}"></td>
                                        <td th:text="${proveedor.email}" ></td>
                                        <td th:text="${proveedor.domicilio}"></td>                        
                                        <td th:text="${proveedor.telefono}" ></td>
                                        <td th:text="${proveedor.honorario}" ></td>
                                        <td th:text="${proveedor.Calificacion}" ></td>
                                        <td th:text="${proveedor.imagen}" ></td>
                                        <td th:text="${proveedor.rubro}" ></td>
                                        <td th:text="${proveedor.activo}" ></td>
                                        <td th:text="${proveedor.rol}" ></td>
                                        <td th:text="${proveedor.alta}" ></td>
                                        <td  >
                                            <a th:href="@{/admin/modificarRol/__${proveedor.id}__}"><i class="fas fa-feather-alt"></i>Cambiar Rol</a>
                                        </td>
                                        <td >
                                            <a th:href="@{/perfil/__${proveedor.id}__}"><i class="fas fa-feather-alt"></i>Modificar</a>
                                        </td>
                                    </tr>                    
                                </tbody>
                            </table>
                           
                        </div>
                    </div>
                </div>

            </div>
        </main>






        <div class="container"><footer th:replace="/fragments/footer :: footer" </footer> </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    </body>
</html>

